
#navbar {
    height: 100%;
    width: 11%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
}

.code {
    background-color: darkgrey;
}

#main-doc {
    margin-left: 11%;
}

header {
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#Navbar_Header {
    text-align: center;
}

#Nav_Items {
    list-style-type: none;
    padding-right: 40px;
}

.nav-text {
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0.5px;
    border-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-text:hover {
    background-color: #4c5763;
    color: white;
}

@media only screen and (max-width: 1600px) {
    #Navbar_Header {
      font-size: 17px;
    }
}

@media only screen and (max-width: 1300px) {
    #Navbar_Header {
      font-size: 16px;
    }

    .nav-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1150px) {
   #navbar {
       display: none;
   }
   #main-doc {
       margin-left: 0%;
   }
}


@media only screen and (max-width: 600px) {
    header {
      font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
